@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
.navbar-brand{
    width: 15% !important; 
    height: 15% !important;
    justify-content: center;

}

#featured-3{
    background-color:#273746;
    justify-content: center;

}

.footer{

    background-color: #212F3D;
    color:#ffffff
}